@import url(http://fonts.googleapis.com/css?family=Vibur);
@font-face {
    font-family: "Fonte-titre";
    src: url('../font/Outland.otf');
}
@font-face {
    font-family: "Fonte-text";
    src: url('../font/latian.ttf');
}

/*Haut Page*/ 
.togepi {

	float:left;
	width:200px;
	height:220px;
}
.pikachu
{
	width:300px;
	height:175px;
	float:right;
}

header 
{
	text-align:center;
	
}


/*Menu*/
@media only screen and (max-width : 15000px)
{
#menu {
	float:left;
	width:70%;
	margin-left: 2%; 
	font-family: Arial;
	text-decoration: none;
	float:left;
	color: #fff;
}

#menu li {
	display: inline;
	width: 20%;
	text-align:center;
	


}
#menu a {
		
	font-size:90%;
	text-align:left;	
	
}

#menu img {

	position:relative;
	right:20%;
	top:2%;
	width : 20%;
	height : 20%;
	background-attachment : fixed;
}

a {
color : #656667;
text-decoration:none;
font-size : 90%;
}

#t {

float:left;
padding : 1%;
background-color: #FEE564;
 border-top-left-radius: 10px;
 border-bottom-left-radius : 10px
}

#s {
float:left;
padding: 1%;
background-color: #F74B4B;


}
#i {
float:left;
padding: 1%;
background-color: #CCFF99;

}

#c {
float:left;
padding: 1%;
background-color: #98C9FA;
border-top-right-radius: 10px;
border-bottom-right-radius : 10px
}

#t:hover{
background-color: #EDAC3C;
padding-bottom:1%;
}

#s:hover{
background-color: #D92F2F;
padding-bottom:1%;
}
#i:hover{
background-color:#89E18C;
padding-bottom:1%;
}
#c:hover{
background-color: #7395F2;
padding-bottom:1%;
}
}



/*slide*/
#pub{
margin-left:30%;
margin-top:7%;

}
.slide-pub
{
	
  width:740px;
  height:320px;
  overflow: hidden;
  position: relative;
  background-image: url("../image/pub1.jpg");
  border-radius : 1em;
}
.slide1, .slide2, .slide3
{
  position: absolute;
  width:740px;
  height:320px;
}
.slide1{left: 0;}
.slide2{left: 740px;}
.slide3{left: 1480px;}
.leconteneur-pub
{
  width: 1480px;
  height: 320px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-740px;}
  45% {left:-740px;}
  66% {left:-1480px;}
  90% {left:-1480px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-740px;}
  45% {left:-740px;}
  66% {left:-1480px;}
  90% {left:-1480px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-740px;}
  45% {left:-740px;}
  66% {left:-1480px;}
  90% {left:-1480px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-740px;}
  45% {left:-740px;}
  66% {left:-1480px;}
  90% {left:-1480px;}
}

/* Connection*/
 .Inscription .tortank {
	 width:16%;
	 height:23%;
	 position:absolute;
	 margin: -26% 0 0 0;
	 
 }
  .Inscription .ruban {
	 width:16%;
	 height:39%;
	 position:absolute;
	 margin: -30% 0 0 70%;
	 
 }

.Inscription h1{
	font-size:30px;
	margin-top:-25px;
	font-family: 'Vibur', cursive;
	font-size:45px;
	color:black;
	
}
.Inscription {
	position: relative;
	background: #7FC6BC;
	width: 340px;
	height:230px;
	padding: 45px;
	margin: -17% 0 0 75%;
	text-align: center;
	opacity:0.8;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius:10px;

}
.Inscription input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: -15px 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.Inscription button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00FFFF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.Inscription button:hover{
  background: #20B2AA;
}
.Inscription .message{
  margin: 15px 0 0;
  color: white;
  font-size: 20px;
}
.Inscription .message a {
  color: black;
}
.Inscription .message a:hover {
  text-decoration:underline;
}

.Inscription i{
	position:absolute;
	margin:-13% 0 0 70%;
}

/* Barre de recherche */
.Recherche {
	position:relative;
	background:#B5E655;
	width:20%;
	margin-top:-19%;
	margin-left:3%;
 	opacity:0.8; 
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius:10px;
	text-align:center;
	
}
.Recherche h1{
	font-size:30px;
	font-family: 'Vibur', cursive;
	font-size:45px;
	color:black;
	
}

.Recherche input {
	font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  padding:15px;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
	
}

.Recherche i{
	position:absolute;
	margin:3% 0 -50% -10%;
}
.Recherche img{
	position:absolute;
	
	
}
.Recherche .papi {
	position:absolute;
	width:22%;
	margin:18% 0 0 -5%;
}

.Recherche .mega {
	
	position:absolute;
	width:30%;
	margin:0 0 0 -15%;
	
}
.Recherche .nouv-titre2{
	font-family:Comic Sans MS;
	font-size:20px;
	padding:-30%;
	
}
.Recherche h1{
margin-top:10%;
	
}
.Recherche .nouv-titre{
	font-family:Comic Sans MS;
	font-size:20px;
	margin-top:45%;
	padding:-30%;
	
}
.Recherche .dollar{

	position:absolute;
	margin:-14% 0 0 29%;
	width:11%
	
}

.Recherche .dollar2{
	

	position:absolute;
	margin:-14% 0 0 -40%;
	width:11%
}


.Recherche .sun {
	position:absolute;
	width:67%;
	margin:5% 0 0 -48%;
	
}

.Recherche .moon {
	width:65%;
	position:absolute;
	margin:45% 0 0 -16%;
	
}
.Recherche .actu-titre{
	font-family:Comic Sans MS;
	font-size:20px;
	margin-top:86%;
	padding:-30%;
}

.Recherche .actu-titre2{
		font-family:Comic Sans MS;
	font-size:20px;
	padding:-30%;
}

.Recherche .darda{
	
	position:absolute;
	width:22%;
	margin:-28% 0 0 -45%;
}
.Recherche .drattak{
	
	position:absolute;
	width:35%;
	margin:-5% 0 0 -17%;
}
.Recherche .icon-type{
	
	position:absolute;
	width:50%;
	margin:32% 0 0 -23%;
}

.Recherche .nomdra{
	font-family:Comic Sans MS;
	font-size:20px;
	margin-top:55%;

	
}

.Recherche a{
	color:black;
}
.Recherche .iconrs {
	font-family:Comic Sans MS;
	font-size:20px;
	margin: 0 0 0 40%;
	padding:10%;	
}

.Recherche .fb-icon,.tw-icon,.in-icon{
	margin:0 0 0 -30%;
	
}

/* Contenue */

@font-face {
    font-family: "Fonte-titre";
    src: url('../font/Outland.otf');
}
@font-face {
    font-family: "Fonte-text";
    src: url('../font/latian.ttf');
}
.contenue
{
	position:relative;
	margin: -72% 5% 0 25%;
	
		
}

.contenue h1
{
	font-family:Fonte-titre;
	text-align:center;
	font-size:70px;
	color:#FEE564;
	
}

.contenue .vdopoke
{
	margin:5% 0 0 12%;
	
}

#descri {
	margin:7% 0 0 4%;	
}

#descri p{
	font-family:Fonte-text;
	font-size:35px;
}

#descri em{
	color:blue;
	font-style:normal;
}

.contenue h2
{
	font-family:Fonte-titre;
	text-align:center;
	font-size:70px;
	margin:2% 0 0 -30%;
	color:#F74B4B;
}

.contenue .ronflex{
	
	position:relative;
	width:10%;
	margin:0 0 -14% 0;
}

.contenue .starter{
	
	position:relative;
	width:30%;
	margin:0 0 0 15%;
}

/* Footer */


.footer-princ {

    width: 100%;
	bottom:0;
	display:block;
	margin-top:10%;
	background-color:rgba(158, 158, 158, 0.5);	
	
}

.info-block {
	position:relative;
	width:20%;
	margin-left:13%;
	display:inline-block;
	vertical-align:middle;
	font-family: Fonte-text;
	
}

.info-block .privacy{

	float:left;
	margin: 0 0 0 -25%;
	
}
.info-block h1{
	
	font-family: 'Vibur', cursive;

	
}

.info-block p{
	
	font-size:30px;
	line-height:5px;


	
}

.info-block img {
	width : 15%;
}

.vdopoke {
	width : 75%
}

